/** RESET START */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/** RESET END */

/** ROOT START */
:root {
    --dark-100: #1e202b;
    --dark-200: #262936;
    --dark-300: #323544;
    --dark-text: #bfc1c8;
    --sky: #009ad8;
}

/** ROOT END */
.weather-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.umbrella-icon {
  background-image: url('assets/imgs/icon-umberella.png');
  width: 24px;
  height: 24px;
}

.wind-icon {
  background-image: url('assets/imgs/icon-wind.png');
  width: 24px;
  height: 24px;
}

.compass-icon {
  background-image: url('assets/imgs/icon-compass.png');
  width: 24px;
  height: 24px;
}

/**GENERAL STYLE START*/
.alert{
    font-size: 12px;
    bottom: -25%;
    left: 1%;
    transform: translateY(-50%);
    padding: 0.65rem 2.5rem;
    transition: 1s;
}
#close-alert{
    cursor: pointer;
}

input{
    transition: 0.35s;
}
.text-gray{
color: var(--dark-text);
}

.text-sky{
    color: var(--sky);
    }
.dark-100 {
    background-color: var(--dark-100);
}

.dark-200 {
    background-color: var(--dark-200);
}

.dark-300 {
    background-color: var(--dark-300);
}

.sky {
    background-color: var(--sky);
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

/**GENERAL STYLE END*/


/** HEADER */
header nav {
    background-color: var(--dark-100);
}

.logo a {
    color: white;
}

a {
    transition: 0.35s;
}

.logo-text h1 {
    font-size: 16px;
}

.logo-text p {
    font-size: .625rem;
    margin-top: 0.1rem;
}


nav .fa-bars {
    display: none;
}

nav .list ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

nav .list ul li {
    font-size: .875rem;
    padding: 0.2rem 1.5rem;
    border: solid transparent 2px;
    border-radius: 3.125rem;
    transition: 0.35s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

nav .list ul li:hover {
    border-color: var(--sky);
}

nav .list ul li:hover a {
    color: var(--sky);
}

nav .list ul li:first-child {
    border-color: var(--sky);

    a {
        color: var(--sky);
    }
}

/**HERO SECTION START */
.hero {
    background: url(assets/imgs/banner.png);
    background-size: cover;
}

.location {
    width: 100%;
    margin: auto;
}

#search {
    background-color: var(--dark-100);
}

#submit {
    background-color: var(--sky);
    top: 27%;
    right: 0.375rem;
    transform: translateY(-50%);
    padding: 0.65rem 2.5rem;
}


/**HERO SECTION END */
/**CARDS START */
.cards .container {
    margin-top: -10rem;
}

.card,
.card-header,
.card-body {
    border: none;
}

.card-header {
    background-color: #2124308d;
}

.row> :nth-child(2) .card-header {
    background-color: #21232f;
}
/**CARDS END */
/**FOOTER START */
.end #submit {
    background-color: var(--sky);
    top: 50%;
    right: 0.375rem;
    transform: translateY(-50%);
    padding: 0.65rem 2.5rem;
}
.social-links i{
    width: 20px;
    height: 20px;
    transition: 0.35s;
}
.social-links li:hover a{
    background-color:var(--sky)!important;
i{
 color: white;   
}
}
/**FOOTER END */
/**SIMPLE DROPDOWN*/
.dropdown{
    background-color: var(--sky);
    width: 100%;
    top:100%;
    left: 0;
    z-index: 1;
    text-align: center;
}

/**SIMPLE DROPDOWN*/

@media (max-width: 992px) {
    nav .list {
        display: none;
    }

    nav .fa-bars {

        display: block;
        color: white;
        cursor: pointer;
    }
    .container{
        width: 90%;
    }
    .end p{
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 75%;
    }
    .row{
        width: 100%;
    }
}